.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.blurred {
    opacity: 0.3;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.tables-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.proposal-data-container, .balances-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
}

.balances-container {
    justify-content: flex-end;
}

.balances, .proposal-data {
    margin-bottom: 10px;
    border: 1px #5e5e5e solid;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.balances .balance, .proposal-data .data {
    min-width: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.balances .balance:last-of-type, .proposal-data .data:last-of-type {
    margin-bottom: 0px;
}

span.balance-label, span.allowance-label, span.votes-label, span.tokens-label {
    color: #b5a0a0;
}

span.balance-quantity {
    color: #9ffa9f;
}

span.balance-quantity::after {
    font-family: "Material Symbols Outlined";
    font-size: 14px;
    content: '\ea25';
    vertical-align: middle;
    margin-left: 2px;
}

span.allowance-quantity {
    color: #b8b8eb;
}

span.allowance-quantity::after {
    font-family: "Material Symbols Outlined";
    font-size: 14px;
    content: '\e850';
    vertical-align: middle;
    margin-left: 2px;
}

span.votes-quantity {
    color: burlywood;
}

span.votes-quantity::after {
    font-family: "Material Symbols Outlined";
    font-size: 14px;
    content: '\e175';
    vertical-align: middle;
    margin-left: 2px;
}

span.tokens-quantity {
    color: #9ffa9f;
}

span.tokens-quantity::after {
    font-family: "Material Symbols Outlined";
    font-size: 14px;
    content: '\ea25';
    vertical-align: middle;
    margin-left: 2px;
}

.voteForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}