/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #333333; }

.spinner-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1002;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #c2185b;
}

.snackbar {
    background: #171717;
    color: whitesmoke;
    /*text-align: center;*/
}
